In [21]:
pip install yfinance

Requirement already satisfied: yfinance in c:\users\aalesh\anaconda3\lib\site-packages (0.2.12)
Requirement already satisfied: lxml>=4.9.1 in c:\users\aalesh\anaconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\aalesh\anaconda3\lib\site-packages (from yfinance) (37.0.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\aalesh\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Requirement already satisfied: requests>=2.26 in c:\users\aalesh\anaconda3\lib\site-packages (from yfinance) (2.28.1)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\aalesh\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\aalesh\anaconda3\lib\site-packages (from yfinance) (2022.7.1)
Requirement already satisfied: pandas>=1.3.0 in c:\users\aalesh\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\aalesh\anaconda3\lib\site-packages (from yfinance) (2.3.5)
Requirement already satisfied: html5lib>=1.1 in c:\users\aalesh\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\aalesh\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.16.5 in c:\users\aalesh\anaconda3\lib\site-packages (from yfinance) (1.21.5)
Requirement already satisfied: soupsieve>1.2 in c:\users\aalesh\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.1)
Requirement already satisfied: cffi>=1.12 in c:\users\aalesh\anaconda3\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in c:\users\aalesh\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\aalesh\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\aalesh\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\aalesh\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aalesh\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aalesh\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\aalesh\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.11)
Requirement already satisfied: pycparser in c:\users\aalesh\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import yfinance as yf
import pandas as pd
from datetime import date
today = date.today()

tickers = ['BHARTIARTL.NS', 'BHEL.NS', 'HCLTECH.NS', 'INFY.NS', 'RELIANCE.NS', 'SUNPHARMA.NS', 'TATAMOTORS.NS','TCS.NS','TECHM.NS']

for i in range(len(tickers)):
    start_date = "2018-01-01"
    end_date = str(today)
    data = yf.download(tickers[i], start=start_date, end=end_date)
    data.to_csv(f'C:/Stock_Project/Stock-Prices-Prediction-ML-Flask/individual_stocks_5yr _2/{tickers[i][:-3]}_data.csv',index=True)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [29]:
df1=pd.read_csv('C:\Stock_Project\Stock-Prices-Prediction-ML-Flask\individual_stocks_5yr _2\TCS_data.csv')

In [30]:
df1.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-01-01,430.950012,436.399994,422.250000,424.450012,424.450012,6807536
1,2018-01-02,428.850006,440.850006,422.000000,439.299988,439.299988,15331261
2,2018-01-03,440.399994,441.399994,431.950012,433.899994,433.899994,9794953
3,2018-01-04,430.000000,433.299988,425.750000,429.950012,429.950012,8395377
4,2018-01-05,431.250000,436.350006,429.799988,431.600006,431.600006,7021611

In [31]:
import pymongo
 
client = pymongo.MongoClient("mongodb://localhost:27017/")
 
# Database Name
db = client["Stocks"]

# Collection Name
col = db["Stock"]

In [32]:
x = col.find().limit(2)

y = list(x)
    
print(y)

[{'_id': ObjectId('6405d71951b0527162d2053f'), 'Date': '2013-11-01', 'Stock': 'TCS', 'Open': '35.0', 'High': '37.0', 'Low': '32.099998474121094', 'Close': '36.20000076293945', 'Adj Close': '33.83913040161133'}, {'_id': ObjectId('6405d71951b0527162d20540'), 'Date': '2013-11-04', 'Stock': 'TCS', 'Open': '36.79999923706055', 'High': '36.79999923706055', 'Low': '34.689998626708984', 'Close': '35.349998474121094', 'Adj Close': '33.04456329345703'}]

In [7]:
today1 = date.tomorrow()
str(today1)

AttributeError: type object 'datetime.date' has no attribute 'tomorrow'